div.filter_generico_dragdropsquare {
    width:30px;
    height:30px;
    border:1px solid #ccc;
    padding:1px 1px 12px 1px;
    background-color:#495171;
    margin-top:5px;
    /* float:left; */
}